$media-phone: "(min-width:320px)"; /* smartphones, iPhone, 480x320 phones */
$media-phone-portrait: "(min-width:320px) and (orientation: portrait)"; /* smartphones, iPhone, portrait 480x320 phones */
$media-phone-landscape: "(min-width:320px) and (orientation: landscape)"; /* smartphones, iPhone, landscape 480x320 phones */
$media-small-tablet: "(min-width:481px)"; /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
$media-medium-tablet: "(min-width:641px)"; /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
$media-tablet-and-desktop: "(min-width:961px)"; /* tablet, landscape iPad, lo-res laptops ands desktops */
